@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
  }

  /* Enforce DM Sans for body copy and subtitles per user request */
  p,
  h3,
  h4,
  h5,
  h6,
  li,
  span,
  a {
    @apply font-dm;
  }
}

/* Prevent image dragging and selection specially */
img {
  pointer-events: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}